<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect to HTTPS
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Redirect to index.html for React app, excluding specific paths
  RewriteCond %{REQUEST_URI} !^/(api|other-excluded-path)/ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [QSA,L]

  # Add your other rewrite rules here if needed

</IfModule>
